* {
    margin: 0;
    padding: 0;
}

.flo {
    float: left;
}

.Pagina {
    background: -webkit-linear-gradient(90deg, white 10%, #b1e4bc 90%);
    width: 100%;
    height: 1000px;
}

.Menu {
    width: 100%;
    height: 5%;
    background-color: rgb(0, 35, 101);
}

.logo {
    height: 5%;
    width: 20%;
}

.men {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1%;
    width: 8%;
    background-color: #a4d5af;
    float: right;
    margin-top: 2%;
    margin-right: 1%;
    border: 2px solid black;
    border-radius: 100px ;
}

.men:hover {
    background-color: cadetblue;
    color: cyan;
    border-radius: 100px ;
}

.perfil{
    width: 30%;
    text-align: center;
    border-right: #a4d5af solid;
    height: 1000px;
    padding-top: 5%;
}

.foto {
    width: 70%;
}

.config {
    width: 69%;
}

.propiedad {
    width: 45%;
    padding: 2%;
}

.alto {
    width: 90%;
}

.bajo {
    width: 45%;
    margin: 1%;
}

.informacion {
    width: 50%;
    padding-top: 5%;
}
.edit{
    font-size: 30px;
    float: right;
}
.trash {
    width: 5%;
    float: right;
}

.onoffswitch {
    position: relative;
    float: right;
    width: 61px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 50px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 21px;
    padding: 0;
    line-height: 21px;
    font-size: 13px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 9px;
    background-color: #003AB8;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 9px;
    background-color: #EEEEEE;
    color: #FF0000;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 11px;
    margin: 5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    border: 2px solid #000000;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.añadir{
    width:100% ;
    text-align: center;
    margin-top: 1%;
    border-top: #a4d5af dashed ;
    padding-top: 2%;
}
.center{
    margin-left: 10% ;
}
.cen{
    width: 20%;
}
