*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

input{
    display: block;
    margin-bottom: 2%;
}

#subir_Documento_input{
    transition: all .6s ease;
    transform: translateY(-9rem);
}

.container{
    padding: 1rem 9rem;

}

form{
    padding: 10px;
    box-shadow: 2px 7px 12px #22222247;
}